.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
}

.list-items > ul {
    list-style-type: none;
    display: flex;
}

.list-items > ul > li {
    padding: 10px;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.card {
    width: 21%;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 250px;
    background-color: lightgrey;
    margin: 10px;
}

.search-btn {
    background-color: lightsalmon;
}